.container {
  height: 100vh;
  width: 100%;
  background-color: #ebe5d1;
}

.whole {
  display: flex;
}

.middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.left {
  flex: 3;
  width: 100%;
  display: flex;
  justify-content: center;
}

.video-container {
  margin-top: 20px;
  width: 95%;
  height: 84vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.openvidu-chat {
  width: 400px;
  height: 960px;
  /* border-radius: 5px; */
  background-color: #FAF6E9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 3px solid #ebe5d1;
}

.openvidu-toggle1,
.openvidu-toggle2 {
  width: 50%;
  height: 50px;
  border: none;
  border-right: 3px solid #ebe5d1;
  background-color: transparent;
  cursor: pointer;
}

.openvidu-toggle1 {
  border-right: 3px solid #ebe5d1;
}

.openvidu-toggle1:hover,
.openvidu-toggle2:hover {
  background-color: #ebe5d1;
}

.stream-container {
  width: 90%;
  position: relative;
  border-radius: 5px;
  max-height: 40vh;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
}

.bottom {
  height: 13vh;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.bottom-box {
  display: flex;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}

.chaticon-box {
  position: absolute;
  color: white;
  right: 60px;
  top: 50%;
  bottom: 50%;
  cursor: pointer;
}