.pencil {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

.inbox1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display {
  display: none;
}