.page-btn {
  width: 64px;
  height: 64px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #FFFFFF;
  border-radius: 15px;
  transform: rotate(45deg);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-btn:hover {
  transform: rotate(0);
  transition: 0.8s;
}

.page-btn:hover img {
  transform: rotate(0);
  transition: 0.8s;
}

.btn-img {
  width: 50%;
  height: 50%;
  transform: rotate(-45deg);
}